<div class="version-overview">
  <h3 class="icon22 icon22-package"><%= content_tag(:a, '', :name => 'total') %><%= l(:label_total) %></h3>
  <%- if true -%>
    <%= progress_bar([totals[:closed_pourcent], totals[:completed_pourcent]],
                     :titles => ["%s: %0.0f%" % [l(:label_closed_issues_plural), totals[:closed_pourcent]],
                                 "%s: %0.0f%" % [l(:field_done_ratio), totals[:completed_pourcent]]],
                     :legend => ('%0.0f%' % totals[:completed_pourcent])) %>
    <p class="progress-info">
      <%= l(:label_x_issues, :count => totals[:issues_count]) %>
      &nbsp;
      (<%= l(:label_x_closed_issues_abbr, :count => totals[:closed_issues_count]) if totals[:closed_issues_count] > 0 %>
      &#8212;
      <%= l(:label_x_open_issues_abbr, :count => totals[:open_issues_count]) if totals[:open_issues_count] > 0 %>)
    </p>
  <%- else -%>
    <p class="progress-info"><%= l(:label_roadmap_no_issues) %></p>
  <%- end -%>
</div>
<br />

<fieldset><legend><%= l(:label_time_tracking) %></legend>
  <table width="100%">
    <tr>
      <td valign="top">
        <table>
        <%- if User.current.allowed_to?(:view_issue_estimated_hours, project) -%>
          <tr>
            <td width="300px" align="right"><%= l(:field_estimated_hours) %></td>
            <td width="340px" class="total-hours"><%= l_hours(totals[:estimated_hours]) %></td>
          </tr>
        <%- end -%>
        <%- if User.current.allowed_to?(:view_time_entries, project) -%>
          <tr>
            <td width="300px" align="right"><%= l(:label_spent_time) %></td>
            <td width="340px" class="total-hours"><%= l_hours(totals[:spent_hours]) %></td>
          </tr>
        <%- end -%>
        <tr>
          <td width="300px" align="right"><%= l(:field_done_ratio) %></td>
          <td width="340px" class="total-hours"><big><%= '%.0f' % totals[:completed_pourcent] %></big>%</td>
        </tr>
        <%- if User.current.allowed_to?(:view_time_entries, project) and
               User.current.allowed_to?(:view_issue_estimated_hours, project) -%>
          <tr>
            <td width="300px" align="right"><%= l(:label_roadmap_due_in, '') %></td>
            <td width="340px" class="total-hours"><%= "#{l_hours(totals[:rest_hours])} / #{l_days(totals[:rest_hours] / 8.0)} / #{l_weeks(totals[:rest_hours] / 40.0)}" %></td>
          </tr>
          <%- if totals[:rest_hours] != totals[:speed_rest_hours] -%>
            <tr>
              <td width="300px" align="right"><%= l(:label_roadmap_due_in, '') %> (<%= l(:label_estimated_speed) %>)</td>
              <td width="340px" class="total-hours"><%= "#{l_hours(totals[:speed_rest_hours])} / #{l_days(totals[:speed_rest_hours] / 8.0)} / #{l_weeks(totals[:speed_rest_hours] / 40.0)}" %></td>
            </tr>
          <%- end -%>
          <%- if !(custom_field = CustomField.find_by_id(AdvancedRoadmap::Setting.parallel_effort_custom_field)).nil? and
                 custom_field.field_format == 'float' and totals[:parallel_rest_hours] != totals[:rest_hours] -%>
            <tr>
              <td width="300px" align="right"><%= l(:label_roadmap_due_in, '') %> (<%= custom_field.name %>)</td>
              <td width="340px" class="total-hours"><%= "#{l_hours(totals[:parallel_rest_hours])} / #{l_days(totals[:parallel_rest_hours] / 8.0)} / #{l_weeks(totals[:parallel_rest_hours] / 40.0)}" %></td>
            </tr>
            <%- if totals[:parallel_rest_hours] != totals[:parallel_speed_rest_hours] -%>
              <tr>
                <td width="300px" align="right"><%= l(:label_roadmap_due_in, '') %> (<%= custom_field.name %> + <%= l(:label_estimated_speed) %>)</td>
                <td width="340px" class="total-hours"><%= "#{l_hours(totals[:parallel_speed_rest_hours])} / #{l_days(totals[:parallel_speed_rest_hours] / 8.0)} / #{l_weeks(totals[:parallel_speed_rest_hours] / 40.0)}" %></td>
              </tr>
            <%- end -%>
          <%- end -%>
          <%- estimated_due_date = Milestone.estimated_due_date(@totals) -%>
          <%- unless estimated_due_date.nil? -%>
            <tr>
              <td width="300px" align="right"><%= l(:label_estimated_due_date) %></td>
              <td width="340px" class="total-hours"><%= format_date(estimated_due_date) %></td>
            </tr>
          <%- end -%>
        <%- end -%>
        </table>
      </td>
      <td align="right">
        <%= total_graph_tag(versions, totals) %>
      </td>
    </tr>
  </table>
</fieldset>
